.conteiner
    

.FirstSection__block
    width: 1080px;
    height: 554px;  
   
.block__info
    width: 560px;
    height: 554px;
    background: #F0EFEB;
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
.block__info-title
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    color: #000000;
.block__info-text 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #000000;  
.block__info-button
    img
.block__item
    img
    width: 600px;
    height: 554px;
    background: #F0EFEB;
.FirstSection__block
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    margin-top: 10px 

 

