 
.wrapper

.menu__list
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    margin-left: -30px
    li
        
        padding-right: 30px
        not(:last-child)
        list-style-type: none
        display: block
        color: #1C1B1B
        height: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    a
        text-decoration: none
        color: #1C1B1B
        font-size: 16px;
        line-height: 26px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
.menu__link  
    &:hover
        font-size: 18px;
        transition: 0.4s

        
    
.header__logo
    display: block
    img
        width: 80px
        height: 25px
        margin-top: 15px
        margin-left: -150px
.menu__icon
    span, img
        display: inline-block
        width: 20px
        height: 20px
        line-height: 20px
        
    
    img
        width: 20px
        height: 20px
        line-height: 20px
        nth(:last-child)
    &:hover
        img
            width: 22px
            height: 22px


    display: flex
    flex-direction: row
    align-items: center
    pading-left: 20px
    margin-top: -15px
    img > span
        width: 50px
        height: 50px
// стилизация поиска (search)
.search-box
    margin-top: 60px
    margin-right: -50%
    position: absolute
    transform: translate(-100%, -50%)
    background: #FFFFFF;
    height:  20px
    border-radius: 20px
    // border: 1px solid black
    
    padding: 10px
.search-btn
    color: #000000
    float: right
    width: 20px
    height: 20px
    border-radius: 50%
    background: #FFFFFF;
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    transition: 0.4s

.search-txt
    border: none
    background: none
    outline: none
    float: left
    padding: 0
    color: #000000
    font-size: 12px
    transition: 0.4s
    line-height: 20px
    width: 0px
.search-box
    &:hover > .search-txt
        width: 120px
        padding: 0 6px
.search-box
    &:hover > .search-btn
        background: #FFFFFF;
       
        
// 



.header__header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

@media (max-width: 1400px)
    .menu__icon
        margin-right: 70px
@media (max-width: 1200px)
    .menu__icon
        margin-right: -2%
@media (max-width: 992px)
    .menu__icon
        margin-right: -3%
    .header__logo
        margin-left: 20% 
@media (max-width: 768px)
    .menu__icon
        margin-right: -1%
@media (max-width: 576px)
    .menu__icon
        
        margin-right: -150%
    .header__logo
        margin-left: 50% 
         


    
