 
.wrapper
.show-menu-btn, .hide-menu-button
    transition: 0.4s
    font-size: 30px
    cursor: pointer
#chk
    position: absolute
    visibility: hidden
    z-index: -1111
.show-menu-btn
    float: left
.show-menu-btn
    i
        line-height: 100px

.menu__list
    a:hover, 
    .show-menu-btn:hover,
    .hide-menu-btn:hover
        color: red


.menu__list
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    margin-left: -30px
    float: left
    li
        
        padding: 0 px
        not(:last-child)
        list-style-type: none
        display: block
        color: #1C1B1B
        height: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        transition: 0.4s
    a
        text-decoration: none
        color: #1C1B1B
        font-size: 16px;
        line-height: 26px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
.menu__link  
    &:hover
        font-size: 16px;
        transition: 0.4s

.bag 
    i
        width: 20px
        height: 20px
        color: #000000
        padding: 0 15px
        pad
.instag
    img
    padding: 


    
.header__logo
    display: block
    padding: 20px
    img
        diplay: flex
        align-items: center
        justify-content: center
        
        height: 25px
        margin-top: 15px
        margin-left: -200px
.menu__icon
    span, img
        display: block
        width: 20px
        height: 20px
        line-height: 20px
        
    
    img
        width: 20px
        height: 20px
        padding: 1px
        line-height: 20px
        nth(:last-child)
    // &:hover
    //     img
    //         width: 22px
    //         height: 22px


    display: flex
    flex-direction: row
    align-items: center
    padding-left: 50px
    margin-top: 15px
    margin-right: 20px
    img > span
        width: 50px
        height: 50px
// стилизация поиска (search)
.search-box
    display: block
    margin-top: 60px
    margin-right: -50%
    position: absolute
    transform: translate(-120%, -100%)
    background: #FFFFFF;
    height: 20px
    border-radius: 20px
    margin-top: 25px
    margin-right: -20px
    // border: 1px solid black
    
    padding: 10px
.search-btn
    display: block
    color: #000000
    float: right
    width: 20px
    height: 20px
    border-radius: 50%
    background: #FFFFFF;
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    transition: 0.6s

.search-txt
    border: none
    background: none
    outline: none
    float: left
    padding: 0
    color: #000000
    font-size: 16px
    transition: 0.8s
    line-height: 20px
    width: 0px
.search-box
    &:hover > .search-txt
        width: 120px
        padding: 0 6px
        border-bottom: 1px solid #000000
.search-box
    &:hover > .search-btn
        background: #FFFFFF;
       
        
// 



.header__header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center


@media (max-width: 1030px)
    .menu__icon
        margin-right: 2%
@media (max-width: 992px)
    .menu__icon
        margin-left: 10%
    .header__logo
        margin-left: 35%
@media (max-width: 906px)
    .menu__icon
        margin-left: 1%
    .menu__list
        li
            margin-left: 1px
            not(:first-child)
@media (max-width: 768px)
    .menu__icon
        margin-left: -10%
@media screen and (max-width: 576px)
    .show-menu-btn, .hide-menu-button
        display: block
    .header__header
        
        width: 100%
        height: 50vh
        background: rgba(204, 204, 204, 0.6);
        left: 0
        top: 0
        display: flex
        flex-direction: column
        justify-content: flex-start
        text-align: center
        padding: -10px 0
    #chk:checked ~ .menu__list
        right: 0
    .menu__list
        a
        display: block
        text-align: center
    .header__logo
        display: flex
        
        text-align: center
        transform: translate(125%, -25%)
    .menu__icon
        margin-bottom: 50px
        margin-left: -40px
    .search-box, .search-btn, .search-txt
        background: rgba(204, 204, 204, 0.6);
    .search-box
        margin-top: 40px
    .search-btn
        margin-top: -10px
@media(max-width: 466px)
    .header__logo
        display: none
    
        

        


    // .menu__icon
        
    //     margin-right: -150%
    // .header__logo
    //     margin-left: 50% 
         


    
