.InfoBlock-block
    margin-top: 15px
    width: 692px
    height: 180px
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    margin-left: 18%
.InfoBlock-block-title
    h3
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;

    color: #000000; 
.InfoBlock-text
    p, span
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    display: block
    
    


    color: #000000;
    

    
