.PeopleBlockCard
    width: 100%
    background: #F0EFEB;
    height: 652px
    position: 
.PeopleBlock__item
    img
        position: 
        
        height: 525px;
        
.PeopleBlock__block
    position: absolute
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-top: 60px

.PeopleBlockCard__infoBlock
    position: 
    height: 400px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 40px
    



.PeopleBlockCard__infoBlock-title
    h4
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: start-end; 
.PeopleBlockCard__infoBlock-text
    p
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
        

        color: #000000;
.PeopleBlockCard__infoBlock-btn
    a
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;


        text-decoration-line: underline;

        color: #000000;
@media (max-width: 992px)
    .PeopleBlockCard
        margin-top: 70%
@media (max-width: 820px)
    .PeopleBlockCard
        background: none
@media (max-width: 768px)
    .PeopleBlock__block
        margin-top: 120%
        flex-wrap: wrap
        justify-content: center
        align-items: center
        margin-left: -10%
    .PeopleBlockCard__infoBlock
        text-align: center
        justify-content: space-evenly
@media (max-width: 670px)
    .PeopleBlock__block
        margin-top: 150%
@media (max-width: 576px)
    .PeopleBlock__block
        margin-top: 180%
        










        
    


     